<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradeControl.Node.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TradeControl.Node.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <connectionStrings>
    <add name="TradeControl.Node.Properties.Settings.tcNodeConnectionString"
      connectionString="Data Source=IAM;Initial Catalog=tcTHEBUS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <TradeControl.Node.Properties.Settings>
      <setting name="SqlServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlScripts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>tc_upgrade_3_23_2</string>
            <string>tc_upgrade_3_24_1</string>
            <string>tc_upgrade_3_24_2</string>
            <string>tc_upgrade_3_24_3</string>
            <string>tc_upgrade_3_24_4</string>
            <string>tc_upgrade_3_24_5</string>
            <string>tc_upgrade_3_24_6</string>
            <string>tc_upgrade_3_25_1</string>
            <string>tc_upgrade_3_26_1</string>
            <string>tc_upgrade_3_27_1</string>
            <string>tc_upgrade_3_28_1</string>
            <string>tc_upgrade_3_28_2</string>
            <string>tc_upgrade_3_28_3</string>
            <string>tc_upgrade_3_28_4</string>
            <string>tc_upgrade_3_28_5</string>
            <string>tc_upgrade_3_29_1</string>
            <string>tc_upgrade_3_29_2</string>
            <string>tc_upgrade_3_29_3</string>
            <string>tc_upgrade_3_29_4</string>
            <string>tc_upgrade_3_30_1</string>
            <string>tc_upgrade_3_30_2</string>
            <string>tc_upgrade_3_30_3</string>
            <string>tc_upgrade_3_30_4</string>
            <string>tc_upgrade_3_30_5</string>
            <string>tc_upgrade_3_30_6</string>
            <string>tc_upgrade_3_31_1</string>
            <string>tc_upgrade_3_31_2</string>
            <string>tc_upgrade_3_32_1</string>
            <string>tc_upgrade_3_33_1</string>
            <string>tc_upgrade_3_34_1</string>
            <string>tc_upgrade_3_34_2</string>
          </ArrayOfString>
        </value>
      </setting>
    </TradeControl.Node.Properties.Settings>
    <TradeControl.Node.Config.Properties.Settings>
      <setting name="SqlServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SqlUpgrades" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
    </TradeControl.Node.Config.Properties.Settings>
  </userSettings>

</configuration>